// Custom Sass Colors
$black: #141414;
$white: #FFFFFF;
$purple: #805FA8;
$test-gray: rgb(205, 205, 205);

.btn {
    background-color: purple;
}

html body {
    background-color: $black;
    color: $white;
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }
    font: normal normal medium 18px/32px Manrope;
}

.navbar {
    background-color: $black;
    // --bs-navbar-color: $purple;
    .nav-link {
        color: $white;
    }
    .navbar-nav {
        .nav-link.active {
            color: $white;
        }
    }
    .navbar-brand {
        color: $white;
    }
    .navbar-toggler {
        background-color: $purple;
    }
}

#hero {
    background-color: $test-gray;
}
