// Custom Sass Colors
$black: #141414;
$white: #FFFFFF;
$purple: #805FA8;
$test-gray: rgb(205, 205, 205);

.btn {
    background-color: purple;
}

span.purple {
    color: $purple;
}

html body {
    background-color: $black;
    color: $white;
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }
    font: normal normal medium 18px/32px Manrope;
}

section {
    padding-bottom: 5%;
    padding-top: 5%;
}

.navbar {
    background-color: $black;
    // --bs-navbar-color: $purple;
    .nav-link {
        color: $white;
    }
    .navbar-nav {
        .nav-link.active {
            color: $white;
        }
    }
    .navbar-brand {
        color: $white;
    }
    .navbar-toggler {
        background-color: $purple;
    }
}

#hero {
    background-color: $test-gray;
}

// .card {
//     background-color: black;
//     perspective: 1000px;
//     .card-inner {
//         background-color: $black;
//         position: relative;
//         width: 100%;
//         height: 100%;
//         text-align: center;
//         transition: transform 0.6s;
//         transform-style: preserve-3d;
//         backface-visibility: hidden;
//         -moz-backface-visibility: hidden;
//     }
//     .card:focus {
//         outline: 0;
//     }
//     .card-inner:hover{
//         transform: rotateY(180deg);
//     }
//     .card-inner:fucos {
//         transform: rotateY(180deg)
//     }
//     .card-front,.card-back {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//     }
//     .card-front {
//         background-color: $black;
//         color: black;
//         z-index: 2;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     .card-back {
//         background: $black;
//         color: white;
//         transform: rotateY(180deg);
//         z-index: 1;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

// .card:hover {
//     transform: rotateX(180deg);
//     transition: 0.9s ease;
// }

.card-container {
    perspective: 1000px;
}
.card-body {
    background-color: purple;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex; //Makes the height span to both sides
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card-container:hover .card-body {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
// .card-front *, .card-back * {
//     background-color: #805FA8;
// }
// .card-back * {
//     background-color: purple;
// }
.card-front {
    background-color: red;
}
.card-back {
  transform: rotateY(180deg);
  background-color: red;
}
  
  